body{
    width: 100%;
    height: 100%;
    background-color:bisque;
    text-align: center;
}

.container{
    width: 30%;
    height: 20%;
    display: block;
    text-align: center;
}
button{    
    margin: 5px;
    width: auto;
    height: auto;
}